<html>
  <head>
    <title>VK 6Handshakes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container" align="center">
      <h1>Привет, {{ user }}!</h1>
      <br>
      <h2>Кого будем искать?</h2>
      <form action="" method="post">
        <input type="text" placeholder="" name="search" value="{{
          request.form.search }}">
        <input class="btn btn-default" type="submit" value="Искать!">
      </form>
      {% if user_info_fn %}
        <p class="error"> Ищем {{ user_info_fn }} {{ user_info_ln }} <img src=" {{ user_info_photo }} ">
      {% endif %}
      {% if info %}
        <p class="error"> {{ info }}
      {% endif %}
      </div>
  </body>
</html>